In [2]:
import pandas as pd

## Import Raw Data

In [3]:
overdoseData = pd.read_csv('VSRR_Provisional_Drug_Overdose_Death_Counts.csv')

In [4]:
data = pd.DataFrame(overdoseData)

## Data Summary

Take a look at the data and see what kind of general information & aspects we can see. Key parts include: state, year, indicator, data value

In [6]:
data.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,Number of Deaths,"4,133",100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, ...",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN

In [7]:
data.shape

(42180, 12)

## Filter & Clean up Data

Remove extra noise from the data & transform data to a point where we can start making coorelations & graphing

In [9]:
filtered1 = data[(data.Indicator == 'Number of Drug Overdose Deaths') | (data.Indicator == 'Number of Deaths')]

In [10]:
filtered1

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,Number of Deaths,"4,133",100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
7,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,126
16,AK,2015,August,12 month-ending,Number of Drug Overdose Deaths,124,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,124
17,AK,2015,August,12 month-ending,Number of Deaths,"4,222",100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
25,AK,2015,December,12 month-ending,Number of Drug Overdose Deaths,121,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,121
...,...,...,...,...,...,...,...,...,...,...,...,...
42155,YC,2021,February,12 month-ending,Number of Deaths,"85,457",100,0.142762,New York City,Underreported due to incomplete data.,*,NaN
42164,YC,2021,January,12 month-ending,Number of Deaths,"83,856",100,0.110904,New York City,Underreported due to incomplete data.,*,NaN
42165,YC,2021,January,12 month-ending,Number of Drug Overdose Deaths,"2,208",100,0.110904,New York City,Underreported due to incomplete data.,*,"2,216"
42172,YC,2021,March,12 month-ending,Number of Drug Overdose Deaths,"2,277",100,0.197455,New York City,Underreported due to incomplete data.,*,"2,325"
42179,YC,2021,March,12 month-ending,Number of Deaths,"83,057",100,0.197455,New York City,Underreported due to incomplete data.,*,NaN

In [11]:
filtered2 = filtered1.drop(filtered1.columns[[3, 6, 7, 9, 10, 11]], axis=1)

In [12]:
filtered2

,State,Year,Month,Indicator,Data Value,State Name
0,AK,2015,April,Number of Deaths,"4,133",Alaska
7,AK,2015,April,Number of Drug Overdose Deaths,126,Alaska
16,AK,2015,August,Number of Drug Overdose Deaths,124,Alaska
17,AK,2015,August,Number of Deaths,"4,222",Alaska
25,AK,2015,December,Number of Drug Overdose Deaths,121,Alaska
...,...,...,...,...,...,...
42155,YC,2021,February,Number of Deaths,"85,457",New York City
42164,YC,2021,January,Number of Deaths,"83,856",New York City
42165,YC,2021,January,Number of Drug Overdose Deaths,"2,208",New York City
42172,YC,2021,March,Number of Drug Overdose Deaths,"2,277",New York City
42179,YC,2021,March,Number of Deaths,"83,057",New York City

## Filtered by Year (all states)

In [13]:
filtered2015 = filtered2[(filtered2.Year == 2015)]
filtered2016 = filtered2[(filtered2.Year == 2016)]
filtered2017 = filtered2[(filtered2.Year == 2017)]
filtered2018 = filtered2[(filtered2.Year == 2018)]
filtered2019 = filtered2[(filtered2.Year == 2019)]
filtered2020 = filtered2[(filtered2.Year == 2020)]
filtered2021 = filtered2[(filtered2.Year == 2021)]

In [14]:
filtered2015

,State,Year,Month,Indicator,Data Value,State Name
0,AK,2015,April,Number of Deaths,"4,133",Alaska
7,AK,2015,April,Number of Drug Overdose Deaths,126,Alaska
16,AK,2015,August,Number of Drug Overdose Deaths,124,Alaska
17,AK,2015,August,Number of Deaths,"4,222",Alaska
25,AK,2015,December,Number of Drug Overdose Deaths,121,Alaska
...,...,...,...,...,...,...
41383,YC,2015,November,Number of Drug Overdose Deaths,944,New York City
41388,YC,2015,October,Number of Deaths,"54,572",New York City
41391,YC,2015,October,Number of Drug Overdose Deaths,918,New York City
41400,YC,2015,September,Number of Deaths,"54,449",New York City
41406,YC,2015,September,Number of Drug Overdose Deaths,886,New York City

## Filtered by Overdose Only

In [15]:
overdoseonly = filtered2[(filtered2.Indicator == 'Number of Drug Overdose Deaths')]

In [16]:
overdoseonly

,State,Year,Month,Indicator,Data Value,State Name
7,AK,2015,April,Number of Drug Overdose Deaths,126,Alaska
16,AK,2015,August,Number of Drug Overdose Deaths,124,Alaska
25,AK,2015,December,Number of Drug Overdose Deaths,121,Alaska
37,AK,2015,February,Number of Drug Overdose Deaths,127,Alaska
55,AK,2015,January,Number of Drug Overdose Deaths,126,Alaska
...,...,...,...,...,...,...
42123,YC,2020,September,Number of Drug Overdose Deaths,"1,989",New York City
42135,YC,2021,April,Number of Drug Overdose Deaths,"2,316",New York City
42153,YC,2021,February,Number of Drug Overdose Deaths,"2,223",New York City
42165,YC,2021,January,Number of Drug Overdose Deaths,"2,208",New York City
42172,YC,2021,March,Number of Drug Overdose Deaths,"2,277",New York City

In [19]:
overdoseonly = overdoseonly.replace(',','', regex=True) ##remove comma and turn str to int

In [20]:
overdoseonly['Data Value'] = overdoseonly['Data Value'].astype(int)

In [21]:
overdoseonly

,State,Year,Month,Indicator,Data Value,State Name
7,AK,2015,April,Number of Drug Overdose Deaths,126,Alaska
16,AK,2015,August,Number of Drug Overdose Deaths,124,Alaska
25,AK,2015,December,Number of Drug Overdose Deaths,121,Alaska
37,AK,2015,February,Number of Drug Overdose Deaths,127,Alaska
55,AK,2015,January,Number of Drug Overdose Deaths,126,Alaska
...,...,...,...,...,...,...
42123,YC,2020,September,Number of Drug Overdose Deaths,1989,New York City
42135,YC,2021,April,Number of Drug Overdose Deaths,2316,New York City
42153,YC,2021,February,Number of Drug Overdose Deaths,2223,New York City
42165,YC,2021,January,Number of Drug Overdose Deaths,2208,New York City
42172,YC,2021,March,Number of Drug Overdose Deaths,2277,New York City

In [22]:
overdoseonly.loc[(overdoseonly['State'] == 'AK') & (overdoseonly['Year'] == 2015), 'Data Value'].sum()

1472